body{
    margin: 0px;
}
div#header {
    padding: 10px;
    text-align: right;
    background-color: #61677A;
    position: sticky;
    top: 0px;
}
a {
    margin: 5px;
    text-decoration: none;
    color: #ffff;
}



a:hover{
    color: rgb(182, 180, 180);
}

.header-name {
    float: left;
    margin-left: 30px;
    color: #ffff;

}

.topnav {
    padding-right: 30px;
}

#about {
    background-color: #272829;
    padding-top: 50px;
    padding-bottom: 50px;
}

.teks-body{
    text-justify: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffff;
}

.profil{
    width: 200px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

#abilities{
    text-align: Center;
    padding: 50px;
    background-color: #D8D9DA;
}

#abilities .abilities-image{
    text-align: center;
}
.abilities-html{
    width: 300px;
    height: 170px;
    

}
.abilities-css{
    width: 190px;
    height: 190px;
    

}

.abilities-js{
    width: 190px;
    height: 190px;
    
}

#contact{
    text-align: center;
    background-color: #FFF6E0;
    padding: 30px;
}

html{
    scroll-behavior: smooth;
}